.ZTSummary
{
 color:#878787;
 font-size:12px;
 text-indent:24px;
 line-height:20px;
 letter-spacing:normal;
 padding: 0px 5px;
 text-align:justify;
 text-justify:newspaper;
}
.ZTSummary a:link,.ZTSummary a:visited,.ZTSummary a:hover,.ZTSummary a:active {color:#878787;font-size:12px;text-decoration:none}		


.ZTFameInfo
{
    font-size:12px;
    padding:5px 0 0 0;
    margin:0px;
    width:173px;
    text-indent:0;
   text-align:left;
   text-overflow:ellipsis;
   overflow:hidden;
   white-space:nowrap;
   vertical-align:middle; float:left;display:inline;
}
.ZTFameInfo a:link {font-size:12px; color:#000;text-decoration:none}		
.ZTFameInfo a:visited {font-size:12px;color:#000;text-decoration:none}	
.ZTFameInfo a:hover span {font-size:12px;color:#000;text-decoration:underline}	
.ZTFameInfo a:active {font-size:12px;color:#000;text-decoration:none}

.ZTLevel2ContentRightCenterTitle
{
    text-align:center;
    margin:0 0 15px 0;
    font-size:16px;
    color:#014BB0;
    font-weight:bold;
}
..SpecialAttentionNewTableLineTitle{ width:110px;}
.ZTNewTableTitleXL
{
   background:url(../images/bluevideo.png) no-repeat 8px 6px;
   text-indent:25px;
   height:20px;
   line-height:20px;
   width:auto;
   min-width:40px;
   text-align:left;
   text-overflow:ellipsis;
   overflow:hidden;
   white-space:nowrap;
   vertical-align:middle; float:left;display:inline;
}
.ZTNewTableTitleXL a:link {font-size:12px;color:#878787;text-decoration:none}		
.ZTNewTableTitleXL a:visited {font-size:12px;color:#878787;text-decoration:none}	
.ZTNewTableTitleXL a:hover {font-size:12px;color:#878787;text-decoration:none}	
.ZTNewTableTitleXL a:active {font-size:12px;color:#878787;text-decoration:none}

.ZTLv2ViewpointItemTitle
{
    font-size:16px;
    font-weight:bold;
    padding:0 0 6px 0;
    background:url(../images/BlueVideo.png) no-repeat 6px 6px;
    width:300px;
   text-indent:22px;
    letter-spacing:normal;
   text-overflow:ellipsis;
   overflow:hidden;
   white-space:nowrap;
   vertical-align:middle; float:left;display:inline;
}
.ZTLv2ViewpointItemTitle a:link {color:#004177;text-decoration:none}		
.ZTLv2ViewpointItemTitle a:visited {color:#004177;text-decoration:none}		
.ZTLv2ViewpointItemTitle a:hover {color:#004177;text-decoration:underline}		
.ZTLv2ViewpointItemTitle a:active {color:#004177;text-decoration:none}

.divTooltip{text-align:left;}
.divTooltip p{ padding:5px 0px; text-indent:24px;}

#divLevel2Key{ height:100%; overflow:hidden;}
.noborder{ border:0px;}

.SpecialAttentionLv2ViewpointItemText {line-height: 22px;width: 300px;height: 84px;overflow: hidden; text-indent:24px;}
.SpecialAttentionLv2ViewpointItem {padding: 10px 6px 10px 6px;width: 100%;}
.divLevel2Key table{ background-color:#ccc;}.divLevel2Key table td{ background-color:#FFF;}
.SpecialAttentionLv2NewItem{ width:660px;}

#SearchResultContent table.SearchResultContentTable{display:none;}
#SearchResultContent table.SearchResultContentTable td.tit{ text-align:left; padding-left:6px;}
#SearchResultContent ul{ display:block;}
#SearchResultContent ul li img{ width:110px; height:88px; border:1px #eee solid;}
#SearchResultContent .SearchResultDetailInfo{ width:auto;}
input#SearchResultThumb,input#SearchResultList{ cursor:pointer;}

SearchResultContentDetailPreview{ width:111px; height:80px; border:0px;}

.page{ height:30px; line-height:30px; background-color:#f3f3f3; color:#808080; text-align:center}
.page a{ color:#808080;}
.page span{ float:none;}
.page span a{ margin-left:4px; margin-right:4px;}

.SearchResultInfoTxt a {color: #004A99;text-decoration: none;}
#SearchAuthorTxt{ padding:0px;}
.btnAdvSubmit{ width:80px;}

